* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
    font-family: "Inter",sans-serif;
}
.color-green {
    color: #30B868;
}

/* styling navbar */

.navbar .nav-container li, .navbar .nav-container li a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.nav-container, .nav-container .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .menu {
    gap: 32px;
}
.nav-container {
    margin: 16px 120px;
}
.nav-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
} 


/* styling banner */
/* 
#banner {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 674px;
} */
 #banner {
    background-image: url(../assets/hero-bg.png);
    overflow: hidden;
 }
.banner-container {
    max-width: 1360px;
    margin: 117px auto 179px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container .early-access-btn {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 1000px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
#banner .banner-container .banner-heading {
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#banner .banner-container .banner-text {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
#banner .banner-container .vault-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px 16px;
    border: 1px solid #30B868;
    border-radius: 4px;
    margin-right: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#banner .banner-container .works-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}