* {
    margin: 0;
    padding: 0;
}
.font-inter {
    font-family: "Inter",sans-serif;
}

/* styling navbar */

.navbar .nav-container li, .navbar .nav-container li a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.nav-container, .nav-container .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .menu {
    gap: 32px;
}
.nav-container {
    margin: 16px 120px;
}
.nav-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}