* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
    font-family: "Inter",sans-serif;
}
.color-green {
    color: #30B868;
}

/* styling navbar */

.navbar .nav-container li, .navbar .nav-container li a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.nav-container, .nav-container .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .menu {
    gap: 32px;
}
.nav-container {
    margin: 16px 120px;
}
.nav-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
} 


/* styling banner */
/* 
#banner {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 674px;
} */
 #banner {
    background-image: url(../assets/hero-bg.png);
    overflow: hidden;
 }
.banner-container {
    max-width: 1360px;
    margin: 117px auto 179px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-container .early-access-btn {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 1000px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
#banner .banner-container .banner-heading {
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#banner .banner-container .banner-text {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
#banner .banner-container .banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-container .vault-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 16px 16px;
    border: 1px solid #30B868;
    border-radius: 4px;
    margin-right: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#banner .banner-container .works-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




/* styling note section */

#note .note-info {
    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#note .note-card-container {
    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
}

#note .note-container .note-info .note-heading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 60px;
    margin-bottom: 16px;
}
#note .note-container .note-info .note-text {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.note-card {
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-width: 322px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 8px 0 #0000001a;
    gap: 16px;
}
.card-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}
.note-card .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.note-card .card-text {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}





/* styling brain section */

#brain{
    background-color: white;
    display: flex;
}
.brain-container {
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    gap: 60px;
}
.brain-container .brain-content .brain-heading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}
.brain-container .brain-content .brain-text {
     font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain-container .brain-complete {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
}
.brain-container .brain-content .the-solution-text {
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #469165;
}






/* styling think section  */

#think .think-container {
    width: 1360px;
    padding: 80px 40px;
    background-color: #F7F6F2;
    margin: 0 auto;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.think-container .think-heading {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.think-container .think-text {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.think-container .bottom-text {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
}


/* styling footer */
#footer {
    margin-top: 120px;
    background-color: #001931;
}

#footer .footer-container {
    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

#footer .footer-container .social-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}
#footer .footer-container .social-container .social .social-link {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#footer .footer-container  .copypright-container {
    display: flex;
    justify-content: center;
}
#footer .footer-container .copyright-container p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-bottom: 30px;
}

